.mm-list
  padding: 50px
  width: 100%
  text-align: center
  padding: 30px 150px 60px 150px

#mm-btn
  width: 200px
  height: 37px
  margin: 2px
  color: black
  background-color: white

.setting-div
  max-width: min-content
  display: inline-block

.label-input-settings
  float: left
  padding: 5px 5px 5px 0px
  color: white
  font-size: 20px

.name-input
  box-sizing: border-box
  text-align: left
  width: 100%
  float: left
  padding: 5px

.text-left-align
  text-align: left

#img-profile
  width: 350px
  height: 350px

#mm-btn-right-margin
  width: 200px
  height: 37px
  margin: 2px
  color: black
  background-color: white
  margin: 7px

#mm-btn-green
  width: 200px
  height: 37px
  margin: 2px
  color: black
  background-color: #a8f7a8

.white-text
  color: white

.white-text-small
  color: white
  font-size: 12px

a
  color: black

h1
  color: white
  font-size: 80px

.column-firstname
  float: left
  width: 50%
  box-sizing : border-box
  padding-right: 15px

.column-lastname
  float: left
  width: 50%
  box-sizing : border-box

.row
  display: table
  clear: both
  padding-bottom: 20px
  padding-top: 10px

.notify-gm
  color: white
  padding-left: 7px

.setting-div
  padding-bottom: 35px

h2
  color: white
  margin-bottom: 0

#google-logo-m
  height: 20px
  width: 20px

#notif-gm-st
  float: left

.text-align-left
  text-align: left

#notif-settings
  float: left

#notif-settings-h2
  text-align: left
  padding-bottom: 10px

#google-log-btn
  font-size: 28px
  padding: 10px 15px

#mm-btn-logout
  width: 200px
  height: 37px
  margin: 2px
  background-color: #f38989
