.mm-list
  width: 100%
  text-align: center

.mm-list-small-padding
  width: 100%
  text-align: center
  padding: 15px 30px 60px 30px

.statistic-window
  text-align: center
  width: 100%
  top: 50%
  right: 0
  position: absolute
  transform: translate(0, -50%)

.black-text
  color: black

.copyToClipboard
  margin-top: 15px
  height: 30px
  margin-left: -125px
  font-size: 10px
  border-radius: 30px
  background-color: black
  border-color: black
  color: white
  position: absolute

.code-for-game
  width: 350px
  height: 36px
  margin-top: 10px
  margin-bottom: 15px
  padding: 17px 0 17px 13px
  font-size: 20px
  border-width: 0

.image-label-center
  text-align: center
  color: white
  font-size: 20px
  margin: 10px

.text-above-qr
  text-align: center
  margin: 0
  color: white
  font-size: 18px
  max-width: 350px

.image-label-center-margin
  text-align: center
  color: white
  font-size: 20px
  margin: 20px

.qr-code-img
  max-width: 350px
  max-height: 350px
  margin-top: 10px

.mm-list-min-padding
  width: 100%
  text-align: center
  display: inline-block

.buttonH
  padding: 12px 71.15px 12px 71.15px
  border-radius: .28571429rem
  width: 200px
  height: 37px
  margin-top: 100px
  color: black
  background-color: #f38989
  text-decoration: none

.button-small-padding
  padding: 12px 35px 12px 35px
  border-radius: .28571429rem
  width: 200px
  font-size: 25px
  height: 37px
  color: black
  background-color: #e0e1e2
  text-decoration: none

.button-without-padding:hover
  background-color: #e0e1e2
  text-decoration: none

.align-center-webkit
  text-align: -webkit-center

.horizontal-line
  width: 250px

.margin-bottom-zero
  margin-bottom: 0

.small-horizontal-line
  width: 100px

.mm-list-centered
  width: 100%
  text-align: center
  top: 50%
  right: 0
  position: absolute
  transform: translate(0, -50%)

.join-by-code
  text-align: center
  top: 50%
  right: 50%
  position: absolute
  transform: translate(50%, -50%)
  min-width: 60%

.float-right
  text-align: right
  margin-bottom: 12px

.corner-close
  padding: 0
  float: right
  width: 16px
  height: 16px

.small-padding
  padding: 0px 6px 6px 6px
  margin: 10px 0px 10px 0px

.medium-padding
  padding: 0px 6px 6px 6px
  margin: 20px 0px 6px 0px

.vertical-align
  vertical-align: middle
  margin: 10px

.ui.card.card-center
  margin: 50px
  box-sizing: border-box
  width: 50%
  display: inline-block

.react-notification-root
  position: fixed
  z-index: 9000
  pointer-events: none
  width: 90%
  height: 100%

.input-code-join
  width: 131px
  height: 43px
  font-size: 24px
  margin: 0px 7px 9px 7px
  padding: 3px 15px 3px 15px
  border-radius: 10px
  border-color: black

#button-small-green
  vertical-align: middle
  width: 100px
  border-radius: 10px
  height: 43px
  color: black
  padding: 2px 10px 2px 10px
  margin: 0px 7px 9px 7px
  border: solid
  border-width: 2px
  border-color: black
  background-color: #a8f7a8

#button-big-green
  vertical-align: middle
  width: 35%
  border-radius: 5px
  height: 43px
  color: black
  padding: 2px 10px 2px 10px
  margin: 0 10px 10px 10px
  background-color: #a8f7a8

#button-small-red
  vertical-align: middle
  width: 100px
  border-radius: 10px
  height: 43px
  color: black
  padding: 2px 10px 2px 10px
  margin: 0px 7px 9px 7px
  border: solid
  border-width: 2px
  border-color: black
  background-color: #ef9c9c

#button-big-red
  vertical-align: middle
  width: 35%
  border-radius: 5px
  height: 43px
  color: black
  padding: 2px 10px 2px 10px
  margin: 0 10px 10px 10px
  background-color: #ef9c9c

.ui.card
  border-radius: 0
  max-width: none
  margin: 0

.ui.grid
  display: flex
  flex-wrap: inherit

.mm-list-waskilled
  width: 100%
  text-align: center
  text-align: -moz-center
  text-align: -webkit-center
  padding: 150px 0 190px 0

.card-center
  text-align: center
  background-color: white
  width: 75%

.white-paragraph
  color: white

.big-header
  font-size: 55px
  color: white

.medium-text
  font-size: 35px
  color: white
  margin-bottom: 10px

.small-text
  font-size: 27px
  color: white

.mini-text
  font-size: 20px
  color: white
  margin-top: 0
  padding-bottom: 30px

#mm-btn
  width: 200px
  height: 37px
  margin: 2px
  color: black
  border-width: 0
  background-color: white

.setting-div
  max-width: min-content
  display: inline-block

.label-input-settings
  float: left
  padding: 5px 5px 5px 0px
  color: white
  font-size: 20px

.name-input
  box-sizing: border-box
  text-align: left
  width: 100%
  float: left
  padding: 5px

.text-left-align
  text-align: left

#img-profile
  width: 350px
  height: 350px

#img-target
  width: 310px
  height: 310px

#mm-btn-right-margin
  width: 200px
  height: 37px
  margin: 2px
  color: black
  background-color: white
  margin: 7px
  border-width: 0

#login-button
  border-radius: .28571429rem
  width: 350px
  height: 55px
  font-size: 25px
  background-color: #e0e1e2
  border-color: none
  font-weight: bold

#mm-btn-green
  width: 200px
  height: 37px
  margin-top: 30px
  color: black
  border-radius: 5px
  background-color: #a8f7a8
  border-width: 0

#mm-btn-green-width
  max-width: 33%
  height: 37px
  color: black
  border-radius: 5px
  background-color: #a8f7a8
  border-width: 0
  flex: 0 0 33.333333%
  min-width: 200px

#mm-btn-red
  width: 200px
  height: 37px
  color: black
  border-radius: 5px
  background-color: #ef9c9c
  border-width: 0

#mm-btn-red-width
  max-width: 33%
  height: 37px
  color: black
  border-radius: 5px
  background-color: #ef9c9c
  border-width: 0
  flex: 0 0 33.333333%
  min-width: 200px
  margin: 0 7% 0 7%

.date-time-picker
  background-color: white
  width: 350px
  border-radius: 5px
  margin: 5px

#mm-btn-white
  max-width: 33%
  height: 37px
  color: black
  border-radius: 5px
  background-color: white
  border-width: 0
  flex: 0 0 33.333333%
  min-width: 200px

.white-text
  color: white

.all-center
  text-align: center
  text-align: -moz-center
  text-align: -webkit-center

.back-to-menu-button
  border-radius: 5px
  border-width: 5px
  border-color: white
  padding: 13px 47px
  width: 33%
  max-width: 200px
  padding-top: 10px
  padding-bottom: 11px
  margin-right: 43px
  height: 37px
  color: black
  background-color: white

.row
  margin-left: 0
  margin-right: 0

.input-fields
  margin-bottom: 13px
  width: 220px
  height: 25px
  background-color: #808080
  color: white
  border-width: 0
  padding: 8px
  font-size: 16px

.white-text-small
  color: white
  font-size: 12px

a
  color: black

h1
  color: white
  font-size: 80px

.column-firstname
  float: left
  width: 50%
  box-sizing : border-box
  padding-right: 15px

.column-lastname
  float: left
  width: 50%
  box-sizing : border-box

.row-field
  padding-bottom: 20px
  padding-top: 10px
  display: inline-block

.row-inline-block
  display: inline-block
  margin: 0 14.3% 0 14.3%

hr
  border: 1px solid
  color: white

.row-map-emails
  width: 33%

.email-input
  color: white
  width: 200px
  max-width: 200px
  background-color: #808080
  margin: 10px 0 10px 0
  font-size: 14px
  text-align: left
  padding: 8px
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.col-4
  padding-right: 0
  padding-left: 0
  min-width: 200px
  max-width: 33.3333%
  margin: 0 3.5% 0 3.5%
  flex: 0

.box-content
  box-sizing: content-box

.row-map-buttons
  width: 33%
  display: contents
  text-align: center

.row-map
  margin-top: 45px
  width: 100%
  box-sizing: border-box

.input-disabled-map-email
  width: 200px
  height: 30px
  margin: 10px 0 5px 0

.player-disp
  max-height: 170px
  text-align: left

.row:after
  display: table
  clear: both

.notify-gm
  color: white
  padding-left: 7px
  font-size: 16px

.setting-div
  padding-bottom: 5px

h2
  color: white
  margin-bottom: 0

img
  vertical-align: baseline

a
  text-decoration: none

a:hover
  color: inherit

#google-logo-m
  height: 25px
  width: 25px

.margin-btm
  margin-bottom: 4px

label
  margin-bottom: 0

.notif-gm
  float: left
  width: 17px
  height: 17px
  margin-top: 3px

.text-align-left
  text-align: left

#notif-settings
  float: left

#notif-settings-h2
  text-align: left
  padding-bottom: 10px

#google-log-btn
  font-size: 28px
  padding: 10px 15px

.ui.button:hover
  background-color: #e0e1e2
