/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require login
 *= require main_menu
 *= require settings
 *= require game
 *= require target_view
 *= require buttons
 *= require statistics
 */

@import 'office-killers';

@import "react-datetime-picker/dist/DateTimePicker";
@import "react-date-picker/dist/DatePicker";
@import "react-clock/dist/Clock";
@import "react-calendar/dist/Calendar";
@import "animate.css/animate";
@import "react-notifications-component/dist/theme";

@font-face {
  font-family: 'BebasNeue-Regular';
  src:asset_url('BebasNeue-Regular.otf');
}

:root {
  --red-btn: #ef9c9c;
  --green-btn: #a8f7a8;
}

body {
  font-family: 'BebasNeue-Regular';
  padding: 15px 15px;
  margin: 0;
}

.absolute-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.align-text-center {
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
}

.solid-border {
  border: 1px solid black;
}

.d-flex {
  display: inline-flex;
}

.f-direction-col {
  flex-direction: column;
}

.f-direction-row {
  flex-direction: row;
}

.align-items-center {
  align-items: center;
}

.min-content-width {
  width: min-content;
}

.padding-top-30px {
  padding-top: 30px;
}

.j-content-space-between {
  justify-content: space-between;
}

.j-content-center {
  justify-content: center;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.profile-img {
  width: 100%;
}

.no-margin {
  margin: 0;
}

.top-btm-mar-30px {
  margin: 30px 0;
}

.width-100 {
  width: 100%;
}

.width-92 {
  width: 92%;
}

.f-wrap {
  flex-wrap: wrap;
}

.max-width-850 {
  max-width: 850px;
}

.max-width-450 {
  max-width: 450px;
}

.position-relative {
  position: relative;
}
