.connected-users-wrapper {
  width: 69%;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  max-width: 820px;
  .connected-users {
    display: inline-flex;
    flex-direction: row;
    margin-top: 19px;
  }
}

.react-datetime-picker__wrapper {
  border: 0 !important;
  border-radius: 5px;
}

.disabled-inputs {
  input {
    cursor: default;
    background-color: gray;
  }
  button {
    color: gray;
    cursor: default;
    pointer-events: none;
  }
  .react-datetime-picker__wrapper {
    background-color: gray;
    pointer-events: none;
  }
}

.form-game-attributes {
  margin-bottom: 15px;
  max-height: 350px;
  max-width: 350px;
  width: 100%;
}

.form-game-attributes:last-child {
  margin: -6px 0;
}

.banned-users-wrapper {
  overflow: scroll;
  .banned-users-container {
    background-color: #64646433;
    border-radius: 5px;
    flex-direction: column;
    height: 175px;
    margin-top: 5px;
    max-height: 175px;
    min-width: 100%;
    display: none;
    .email-input {
      height: 45px;
      margin: 6px 5px;
      max-width: 135px;
    }
  }
  .visible {
    display: inline-flex;
  }
}

.banned-users-wrapper::-webkit-scrollbar {
  width: 0
}
