.created-game-btns {
  background-color: #a8f7a8;
  border-radius: 5px;
  border: 0;
  color: black;
  font-weight: 700;
  height: 37px;
  margin: 10px 0;
  transition: 0.25s;
  width: 185px;
}

.connected-users-wrapper {
  width: 69%;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  max-width: 820px;
  .connected-users {
    display: inline-flex;
    flex-direction: row;
    margin-top: 19px;
  }
}
