.setting-div {
  display: inline-flex;
  flex-direction: column;
  padding-top: 10px;
}

.row-field {
  margin-top: 10px;
  display: inline-flex;
}

.personal-info-inputs {
  width: 48%;
  box-sizing: border-box;
}

.personal-info-inputs:first-child {
  margin-right: 4%;
}

.avatar-wrapper {
  max-height: 350px;
  overflow: hidden;
  position: relative;
  .avatar-upload-btn {
    border-radius: 0 0 0 9px;
    background: black;
    cursor: pointer;
    display: block;
    height: 50px;
    padding: 7px;
    position: absolute;
    right: 0;
    width: 35px;
    z-index: 1000;
  }
}

input[type='file'] {
  display: none;
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -12px;
  width: 27px;
  height: 27px;

  & .path {
    stroke: rgb(221, 221, 221);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }

}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
