.setting-div {
  display: inline-flex;
  flex-direction: column;
  padding-top: 10px;
}

.row-field {
  margin-top: 10px;
  display: inline-flex;
}

.personal-info-inputs {
  width: 48%;
  box-sizing: border-box;
}

.personal-info-inputs:first-child {
  margin-right: 4%;
}
